---
import FormattedDate from "../FormattedDate.astro";

interface Props {
  description: string;
  title: string;
  pubDate: Date;
  updatedDate?: Date | undefined;
  heroImage?: string | undefined;
  slug: string;
}

const props = Astro.props;
---

<article class="group">
  <a href={`/blog/${props.slug}/`}>
    <img
      alt="Lava"
      src={props.heroImage}
      class="h-56 w-full rounded-xl object-cover shadow-xl transition group-hover:grayscale-[50%]"
    />

    <div class="p-4">
      <h3 class="text-lg font-medium text-gray-500">
        {props.title}
      </h3>

      <span class="text-gray-400 dark:text-gray-700">
        <FormattedDate date={props.pubDate} />
      </span>

      <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
        {props.description}
      </p>
    </div>
  </a>
</article>
