---
import type { CollectionEntry } from "astro:content";

import FormattedDate from "$lib/components/FormattedDate.astro";
import Layout from "./Base.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout {description}>
  <main>
    <article class="px-8 py-6">
      <div class="prose">
        
        {heroImage && <img src={heroImage} alt="" />}
        
        <h1>{title}</h1>

        <slot />

        <div
          class="mt-8 grid gap-x-3 gap-y-1 text-muted-foreground text-xs whitespace-nowrap"
          style="grid-template-columns: auto 1fr;"
        >
          <div>Published</div>
          <div>
            <FormattedDate date={pubDate} />
          </div>
          {
            updatedDate && (
              <div>
                Last updated
              </div>
              <div>
                <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
      </div>
    </article>
  </main>
</Layout>
